<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/index.css">
  <script src="js/index.js"></script>
  <title>index.html</title>
</head>
<body align="center">
	<h1>boot telegram</h1><br><br>
	<h3>{{success}}</h3>
	<form action="send_text" method="get">
	<input type="text" name="keys" placeholder="enter keys"><br><br>
	<input type="text" name="value" placeholder="enter value"><br><br>
	<input type="submit" value="send">
	</form>
	
</body>
</html>